<footer class="Footer content_paddings">
  <footer-top>
    <contacts-block>
      <img src="./images/logo_small.svg" alt="" loading="lazy" />

      <address>
        <strong>Contacts:</strong>

        <p>
          Erwitter Str. 40 <br />
          59590 Geseke <br />
          GERMANY <br />
        </p>

        <span>+49 29 42 / 97 83 71</span>

        <a href="mailto:info@m-bp.de"> info@m-bp.de </a>
      </address>

      <socials-block>
        <strong>Our Social Media:</strong>
        <a href="#" target="_self" rel="noreferrer" aria-label="Instagram">
          <img src="./images/icons/Instagram.svg" alt="Instagram" />
        </a>
        <a href="#" target="_self" rel="noreferrer" aria-label="Facebook">
          <img src="./images/icons/facebook.svg" alt="Facebook" />
        </a>
      </socials-block>
    </contacts-block>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d303620.52748487995!2d49.15668071815593!3d53.521425160229235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416878e800ccce15%3A0xf556927b10d096a!2z0KLQvtC70YzRj9GC0YLQuCwg0KHQsNC80LDRgNGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1711176665349!5m2!1sru!2sru"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="We on the map"
    ></iframe>
  </footer-top>

  <footer-bottom>
    <small>
      <a href="#" target="_self" rel="noreferrer"> Imprint </a>
      |
      <a href="#" target="_self" rel="noreferrer"> Data Privacy </a>
    </small>

    <small>Copyright : mbp | Mollenhauer Beraten & Planen GmbH</small>

    <small>Consulting & Structural Engineering Design</small>
  </footer-bottom>
</footer>
